<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
          <%= f.input :first_name, label: false, placeholder: "First name", required: true, autofocus: true %>
          <%= f.input :last_name, label: false, placeholder: "Last name", required: true %>
          <%= f.input :address, label: false, placeholder: "Address", required: true %>
          <%= f.input :phone_number, label: false, placeholder: "Phone number" %>
          <%= f.input :company_name, label: false, placeholder: "Company name", required: true %>
          <%= f.input :email, label: false, placeholder: "Email address", required: true %>
          <%= f.input :password, label: false, placeholder: "Password", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.input :password_confirmation, label: false, placeholder: "Confirm password", required: true %>
          <%= f.input :role, label: false, prompt: "What is your role?", collection: ["Host (Invoicing)", "Host Company (Timesheet Validation)", "Employment Agency"], required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
