<%= simple_form_for @apprentice do |f| %>
  <%= f.input :trade, :collection => %w[carpenter boilermaker carpet/layer electrician ironworker insulation millwright plumber plasterer glazier] %>
  <%= f.input :skills, class: "form-control" %>
  <%= f.input :borough, class: "form-control" %>
  <%= f.input :address, label: "Postcode", class: "form-control" %>
  <%= f.input :personal_statement, class: "form-control" %>
  <%= f.input :hourly_rate_cents, class: "form-control" %>
  <%= f.input :app_start_date, class: "form-control" %>
  <%= f.input :app_end_date, class: "form-control" %>
  <%= f.simple_fields_for @apprentice.user do |u| %>
    <%= u.input :first_name, class: "form-control" %>
    <%= u.input :last_name, class: "form-control" %>
    <%= u.input :email, class: "form-control" %>
    <%= u.input :password, class: "form-control" %>
  <% end %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
<%= link_to :back do %>
        <i class="fas fa-arrow-left profile-back", title="back"></i>
      <% end %>
  </div>
</div>
