<div class="container">

  <%= link_to :back do %>
    <i class="fas fa-arrow-left profile-back", title="back"></i>
  <% end %>
  <h1>View Apprentices</h1>


  <% if current_user.role == 'Employment Agency' %>
    <% @apprentices.each do |apprentice| %>
      <p><%= link_to apprentice.user.first_name, apprentice_path(apprentice) %></p>
    <% end %>
  <% elsif current_user.role == "Host Company (Invoicing)" || "Host Company (Timesheet Validation)"%>

    <h3>Present</h3>
    <% @apprentices.each do |apprentice| %>
      <% @placements.each do |placement| %>
      <% if placement.pl_start_date <= Date.today && placement.pl_end_date >= Date.today %>
        <p><%= link_to apprentice.user.first_name, apprentice_path(apprentice) %></p>
        <% end %>
      <% end %>
    <% end %>
  <h3>Future</h3>
  <% @apprentices.each do |apprentice| %>
    <% @placements.each do |placement| %>
      <% if placement.pl_start_date > Date.today && placement.pl_end_date > Date.today %>
        <p><%= link_to placement.user.first_name, apprentice_path(apprentice) %></p>
        <% end %>
      <% end %>
    <% end %>
  <h3>Past</h3>
  <% @apprentices.each do |apprentice| %>
    <% @placements.each do |placement| %>
      <% if placement.pl_start_date < Date.today && placement.pl_end_date < Date.today %>
        <p><%= link_to placement.user.first_name, apprentice_path(apprentice) %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
</div>
