<div class="container">

  <%= link_to :back do %>
    <i class="fas fa-arrow-left profile-back", title="back"></i>
  <% end %>
  <h1>View Apprentices</h1>

  <% if current_user.agency? %>

    <% @apprentices.each do |apprentice| %>
      <p><%= link_to apprentice.user.first_name, apprentice_path(apprentice) %></p>
    <% end %>

  <% elsif current_user.host_invoice_contact? || current_user.host_validator? %>

    <h3>Present</h3>
    <% @placements.each do |placement| %>
      <% if placement.pl_start_date <= Date.today && placement.pl_end_date >= Date.today %>
        <p><%= link_to "#{placement.apprentice.user.first_name} - #{placement.pl_start_date}", apprentice_path(placement.apprentice) %></p>
      <% end %>
    <% end %>

  <h3>Future</h3>
    <% @placements.each do |placement| %>
      <% if placement.pl_start_date > Date.today && placement.pl_end_date > Date.today %>
        <p><%= link_to "#{placement.apprentice.user.first_name} - #{placement.pl_start_date}", apprentice_path(placement.apprentice) %></p>
      <% end %>
    <% end %>

    <h3>Past</h3>
    <% @placements.each do |placement| %>
      <% if placement.pl_start_date < Date.today && placement.pl_end_date < Date.today %>
        <p><%= link_to "#{placement.apprentice.user.first_name} - #{placement.pl_start_date}", apprentice_path(placement.apprentice) %></p>
      <% end %>
    <% end %>

  <% end %>

</div>
