<div class="main-wrapper">
  <div class="container">
    <%= link_to :back do %>
      <i class="fas fa-arrow-left profile-back", title="back"></i>
    <% end %>
  <% def user_can_see?
    current_user.id == @apprentice.agency_id ||
    current_user == User.find(@apprentice.user_id) ||
    if @apprentice.placements.where('placements.pl_start_date <= ? AND placements.pl_end_date >= ?', Date.today, Date.today).present?
      current_user.id == @apprentice.placements.where('placements.pl_start_date <= ? AND placements.pl_end_date >= ?', Date.today, Date.today).first.host_validator_id
    end ||
    if @apprentice.placements.where('placements.pl_start_date <= ? AND placements.pl_end_date >= ?', Date.today, Date.today).present?
      current_user.id == @apprentice.placements.where('placements.pl_start_date <= ? AND placements.pl_end_date >= ?', Date.today, Date.today).first.host_invoice_contact_id
    end
  end %>

    <div class="app-profile-container">
      <h1>Apprentice Profile</h1>
      <p><i class="far fa-user-circle"></i> <%= @apprentice.user.first_name %>
        <%= @apprentice.user.last_name if user_can_see? %>
        </p>
        <p><i class="fas fa-map-marker"></i> <%= @apprentice.borough %></p>
        <p><i class="fas fa-toolbox"></i> <%= @apprentice.trade %></p>
        <p><i class="fas fa-wrench"></i> <%= @apprentice.skills %></p>

      <%= link_to 'Placements', apprentice_placements_path(@apprentice) %>
    </div>
  </div>
</div>
