<div class="row">
  <div class="col-xs-8 col-xs-offset-2 ">
    <%= simple_form_for [@apprentice, @placement] do |f| %>
      <div class="row">
        <div class="col-xs-12 col-md-6 form-group">
          <%= f.association :apprentice, label: 'Apprentice', collection: current_user.apprentices, label_method: :formatted_name, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 form-group">
          <%= f.association :host_validator, collection: User.host_validators, label_method: :host_formatted_name, label: 'Primary Validator' %>
        </div>
        <div class="col-xs-12 col-md-6 form-group">
          <%= f.association :host_invoice_contact, collection: User.host_invoice_contacts, label_method: :host_formatted_name, label: 'Invoice Contact', class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 form-group">
          <%= f.input :address, label: "Postcode" %>
        </div>
        <div class="col-xs-12 col-md-6 form-group">
          <%= f.input :hourly_rate_cents, class: "form-control" %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 form-group">
          <%= f.input :pl_start_date, placeholder: 'YYYY-MM-DD', as: :string, label: 'Placement Start Date', input_html: {class: "datepicker"}%>
        </div>
        <div class="col-xs-12 col-md-6 form-group" >
            <%= f.input :pl_end_date, placeholder: 'YYYY-MM-DD', as: :string, label: 'Placement End Date', input_html: {class: "datepicker"} %>
        </div>
      </div>
      <%= f.submit class: "btn btn-primary placement-btn center-block" %>
    <% end %>
  </div>
</div>
