<div class="wrapper">

    <div class="dashboard-container">

    <h1><%= @apprentice.user.first_name.possessive%> Placement History</h1>
    <%= link_to :back do %>
      <i class="fas fa-arrow-left profile-back", title="back"></i>
    <% end %>

      <h3>Present</h3>
      <div class="row">
      <% @apprentice.placements.each do |placement| %>
        <% if (placement.pl_start_date <= Date.today && placement.pl_end_date >= Date.today) %>
          <%= link_to apprentice_placement_path(@apprentice.id, placement.id) do %>
            <div class="col-xs-12 col-md-4">
              <div class ="dashboard-card">
                <h2><i class="fas fa-building"></i> <%= placement.host_validator.company_name %> </h2>
                <p><i class="fas fa-calendar-check"></i>&emsp; <%= placement.pl_start_date.strftime('%A, %b %d') %></p>
                <p><i class="fas fa-calendar-times"> </i>&emsp; <%= placement.pl_end_date.strftime('%A, %b %d') %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      </div>

      <h3>Future</h3>
      <div class="row">
      <% @apprentice.placements.each do |placement| %>
        <% if placement.pl_start_date > Date.today && placement.pl_end_date > Date.today %>
          <%= link_to apprentice_placement_path(@apprentice.id, placement.id) do %>
            <div class="col-xs-12 col-md-4">
              <div class ="dashboard-card">
              <h2><i class="fas fa-building"></i> <%= placement.host_validator.company_name %> </h2>
                <p><i class="fas fa-calendar-check"></i>&emsp; <%= placement.pl_start_date.strftime('%A, %b %d') %></p>
                <p><i class="fas fa-calendar-times"> </i>&emsp; <%= placement.pl_end_date.strftime('%A, %b %d') %></p>
             </div>
            </div>
          <% end %>
        <% end %>
      <% end %>&emsp;
      </div>

      <h3>Past</h3>
      <div class="row">
      <% @apprentice.placements.each do |placement| %>
        <% if placement.pl_start_date < Date.today && placement.pl_end_date < Date.today %>
          <%= link_to apprentice_placement_path(@apprentice.id, placement.id) do %>
           <div class="col-xs-12 col-md-4">
              <div class ="dashboard-card">
              <h2><i class="fas fa-building"></i> <%= placement.host_validator.company_name %> </h2>
                <p><i class="fas fa-calendar-check"></i>&emsp; <%= placement.pl_start_date.strftime('%A, %b %d') %></p>
                <p><i class="fas fa-calendar-times"> </i>&emsp; <%= placement.pl_end_date.strftime('%A, %b %d') %></p>
            </div>
          </div>
        <% end %>
      <% end %>
     <% end %>
     </div>

  </div>
</div>
