<div class="row wrapper-index main-wrapper">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h2>
      <%= link_to dashboard_path do %>
        <i class="fas fa-arrow-left profile-back in-title-back", title="back"></i>
      <% end %>
    <%= @apprentice.user.first_name.possessive%> Placement History</h2>
    <h3>Current Placement</h3>
      <% @apprentice.placements.each do |placement| %>
        <% if (placement.pl_start_date <= Date.today && placement.pl_end_date >= Date.today) %>
          <% @markers = [
            {
              lat: placement.latitude,
              lng: placement.longitude,
              icon: "#{image_path 'marker3.png'}"
              #infoWindow: { content: render_to_string(partial: "/placements/map_box", locals: { placement: @placement }) }
            } ] %>
          <div class="show-placement-index-wrapper">
            <div class="placement-header">
              <h2> <i class="far fa-building"></i> <%= placement.host_validator.company_name %>
              <% unless current_user.apprentices.where(id: params[:apprentice_id]).first.nil? %>
                <%= link_to edit_apprentice_placement_path(@apprentice, placement) do %>
                  <i class="fas fa-pencil-alt placement-edit", title='edit placement'></i>
                <% end %>
              <% end %>
              </h2>
              <div>
                <h2>
                  <% if current_user == @apprentice.user %>
                    <i class="far fa-user-circle placement-user-margin"></i> <%= placement.host_validator.full_name %>
                  <% else %>
                    <%= link_to apprentice_path(@apprentice) do %>
                      <i class="far fa-user-circle placement-user-margin"></i> <%= @apprentice.user.first_name %>
                    <% end %>
                  <% end %>
                </h2>
              </div>
            </div>

            <div class="placement-show-content">
              <div class="placement-show-content-col1">
                <% if current_user.role != "Apprentice" %>
                  <p><i class="fas fa-toolbox"></i>&emsp;<%= @apprentice.trade %></p>
                <% end %>
                <p><i class="fas fa-map-marker"></i>&emsp;<%= placement.address %></p>
                <p><i class="fas fa-pound-sign"></i>&emsp;<%= "#{placement.hourly_rate} / hour" %></p>
                <div class="calendar">
                  <p>&emsp;<i class="fas fa-calendar-check"></i>&emsp;&emsp;<%= placement.pl_start_date.strftime('%A, %b %d') %></p>
                  <p>&emsp;<i class="fas fa-calendar-times"></i>&emsp;&emsp;<%= placement.pl_end_date.strftime('%A, %b %d') %></p>
                </div>
                <p><i class="far fa-envelope"></i>&emsp;<%= placement.host_validator.email %></p>
                <p><i class="fas fa-walking"></i>&emsp;
                  <% if current_user == @apprentice.user %>
                  You live
                  <% else %>
                  <%= placement.apprentice.user.first_name %> lives
                  <% end %>
                   <%= Geocoder::Calculations.distance_between([@apprentice.user.latitude, @apprentice.user.longitude], [placement.latitude, placement.longitude]).round(2) %>km away</p>
              </div>
              <div id="map", class="placement-show-content-col2", style="width: 27vw; height: 30vh;"data-markers="<%= @markers.to_json %>"></div>
            </div>
              <div class="ju">
              <% if (placement.host_validator == current_user) || (placement.host_invoice_contact == current_user) || (placement.apprentice.user == current_user) || (placement.apprentice.agency == current_user) %>
                  <%= link_to "View Timesheets", apprentice_placement_timesheets_path(placement.apprentice.id, placement), :class => "show-placement-btn justify-middle" %>
                <% end %>
              </div>
          </div>
        <% end %>
      <% end %>


    <h3>Future</h3>
    <div class="row">
      <% @placements.each do |placement| %>
        <% if placement.pl_start_date > Date.today && placement.pl_end_date > Date.today %>
          <%= link_to apprentice_placement_path(@apprentice.id, placement.id) do %>
            <div class="col-xs-12 col-md-6">
              <div class ="placement-index-card">
                <h2 class="host-card-title-green"><i class="far fa-building"></i> <%= placement.host_validator.company_name %> </h2>
                <p><i class="far fa-calendar-check"></i>&emsp; <%= placement.pl_start_date.strftime('%A, %b %d') %></p>
                <p><i class="far fa-calendar-times"> </i>&emsp; <%= placement.pl_end_date.strftime('%A, %b %d') %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

  <h3>Past</h3>
  <div class="row">
  <% @placements.each do |placement| %>
    <% if placement.pl_start_date < Date.today && placement.pl_end_date < Date.today %>
      <%= link_to apprentice_placement_path(@apprentice.id, placement.id) do %>
       <div class="col-xs-12 col-md-6">
        <div class ="placement-index-card">
          <h2 class="host-card-title-green"><i class="far fa-building"></i> <%= placement.host_validator.company_name %> </h2>
          <p><i class="far fa-calendar-check"></i>&emsp; <%= placement.pl_start_date.strftime('%A, %b %d') %></p>
          <p><i class="far fa-calendar-times"> </i>&emsp; <%= placement.pl_end_date.strftime('%A, %b %d') %></p>
        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

