<h1>History of Placements</h1>

<%# @apprentice.placements.each do |placement| %>

  <p>Present</p>
<% @apprentice.placements.each do |placement| %>
<% if placement.pl_start_date < Date.today && placement.pl_end_date >= Date.today %>
  <%= link_to apprentice_placement_path(@apprentice.id, placement.id) do %>
    <p>Company Name: <%= placement.host_validator.company_name %> </p>
    <p>Created at: <%= placement.created_at %></p>
    <p>Start Date: <%= placement.pl_start_date %></p>
      <% end %>
    <% end %>
    <% end %>
  <p>Future</p>
<% @apprentice.placements.each do |placement| %>
    <% if placement.pl_start_date > Date.today && placement.pl_end_date > Date.today %>
  <%= link_to apprentice_placement_path(@apprentice.id, placement.id) do %>
    <p>Company Name: <%= placement.host_validator.company_name %> </p>
    <p>Created at: <%= placement.created_at %></p>
    <p>Start Date: <%= placement.pl_start_date %></p>
      <% end %>
    <% end %>
    <% end %>
  <p>Past</p>
<% @apprentice.placements.each do |placement| %>
      <% if placement.pl_start_date < Date.today && placement.pl_end_date < Date.today %>
  <%= link_to apprentice_placement_path(@apprentice.id, placement.id) do %>
    <p>Company Name: <%= placement.host_validator.company_name %> </p>
    <p>Created at: <%= placement.created_at %></p>
    <p>Start Date: <%= placement.pl_start_date %></p>
      <% end %>
  <% end %>
<% end %>

