<div class="row wrapper-index">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h2>
      <%= link_to dashboard_path do %>
        <i class="fas fa-arrow-left profile-back in-title-back", title="back"></i>
      <% end %>
    <%= @apprentice.user.first_name.possessive%> Placement History</h2>
    <h3>Current Placement</h3>
      <% @apprentice.placements.each do |placement| %>
        <% if (placement.pl_start_date <= Date.today && placement.pl_end_date >= Date.today) %>
          <div class="show-placement-index-wrapper">
            <div class="placement-header">
              <h2> <i class="far fa-building"></i> <%= placement.host_validator.company_name %>
              <% unless current_user.apprentices.where(id: params[:apprentice_id]).first.nil? %>
                <%= link_to edit_apprentice_placement_path(@apprentice, placement) do %>
                  <i class="fas fa-pencil-alt placement-edit", title='edit placement'></i>
                <% end %>
              <% end %>
              </h2>
              <div>
                <%= link_to apprentice_path(@apprentice) do %>
                  <h2 class="placement-appr"> <i class="far fa-user-circle"></i> <%= placement.apprentice.user.first_name %></h2>
                <% end %>
              </div>
            </div>

            <div class="placement-show-content">
              <p><i class="fas fa-map-marker"></i>&emsp;<%= placement.address %></p>
              <p><i class="fas fa-pound-sign"></i>&emsp;<%= "#{placement.hourly_rate}/hour" %></p>
              <div class="calendar">
                <p>&emsp;<i class="far fa-comments"></i>&emsp;&emsp;&emsp;&emsp;<%= placement.interview_date.strftime('%A, %b %d') %></p>
                <p>&emsp;<i class="fas fa-calendar-check"></i>&emsp;&emsp;&emsp;&emsp;<%= placement.pl_start_date.strftime('%A, %b %d') %></p>
                <p>&emsp;<i class="fas fa-calendar-times"></i>&emsp;&emsp;&emsp;&emsp;<%= placement.pl_end_date.strftime('%A, %b %d') %></p>
              </div>
              <div class="ju">
              <% if (placement.host_validator == current_user) || (placement.host_invoice_contact == current_user) || (placement.apprentice.user == current_user) || (placement.apprentice.agency == current_user) %>
                  <%= link_to "View Timesheets", apprentice_placement_timesheets_path(placement.apprentice.id, placement), :class => "show-placement-btn justify-middle" %>
                <% end %>
              </div>

            </div>
          </div>
        <% end %>
      <% end %>


    <h3>Future</h3>
    <div class="row">
      <% @placements.each do |placement| %>
        <% if placement.pl_start_date > Date.today && placement.pl_end_date > Date.today %>
          <%= link_to apprentice_placement_path(@apprentice.id, placement.id) do %>
            <div class="col-xs-12 col-md-6">
              <div class ="placement-index-card">
                <h2 class="host-card-title-green"><i class="far fa-building"></i> <%= placement.host_validator.company_name %> </h2>
                <p><i class="far fa-calendar-check"></i>&emsp; <%= placement.pl_start_date.strftime('%A, %b %d') %></p>
                <p><i class="far fa-calendar-times"> </i>&emsp; <%= placement.pl_end_date.strftime('%A, %b %d') %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

  <h3>Past</h3>
  <div class="row">
  <% @placements.each do |placement| %>
    <% if placement.pl_start_date < Date.today && placement.pl_end_date < Date.today %>
      <%= link_to apprentice_placement_path(@apprentice.id, placement.id) do %>
       <div class="col-xs-12 col-md-6">
        <div class ="placement-index-card">
          <h2 class="host-card-title-green"><i class="far fa-building"></i> <%= placement.host_validator.company_name %> </h2>
          <p><i class="far fa-calendar-check"></i>&emsp; <%= placement.pl_start_date.strftime('%A, %b %d') %></p>
          <p><i class="far fa-calendar-times"> </i>&emsp; <%= placement.pl_end_date.strftime('%A, %b %d') %></p>
        </div>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

