<div class="row wrapper-index main-wrapper">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <h2>
      <%= link_to apprentice_placements_path(@placement.apprentice) do %>
        <i class="fas fa-arrow-left in-title-back" title="back"></i>
      <% end %>
      Placement Details
    </h2>
    <div class="show-placement-index-wrapper">
      <div class="row">
        <div class="col-xs-12">


      <!-- edit and back buttons -->

    <!-- container for all other contents -->
        <% @markers = [
          {
            lat: @placement.latitude,
            lng: @placement.longitude,
            icon: "#{image_path 'marker3.png'}",
            #infoWindow: { content: render_to_string(partial: "/placements/map_box", locals: { placement: @placement }) }
          } ] %>

        <div>
          <div class="placement-header">
            <h2> <i class="far fa-building"></i> <%= @placement.host_validator.company_name %>
            <% unless current_user.apprentices.where(id: params[:apprentice_id]).first.nil? %>
              <%= link_to edit_apprentice_placement_path do %>
                <i class="fas fa-pencil-alt placement-edit", title='edit placement'></i>
              <% end %>
            <% end %>
            </h2>
            <div>
              <h2>
                <% if current_user == @placement.apprentice.user %>
                  <i class="far fa-user-circle placement-user-margin"></i> <%= @placement.host_validator.first_name %>
                <% else %>
                  <i class="far fa-user-circle placement-user-margin"></i> <%= @placement.apprentice.user.first_name %>
                <% end %>
              </h2>
            </div>
          </div>
        </div>

          <div class="placement-show-content">
            <div class="placement-show-content-col1">
              <% if current_user.role != "Apprentice" %>
                <p><i class="fas fa-toolbox"></i>&emsp;<%= @placement.apprentice.trade %></p>
              <% end %>
              <p><i class="fas fa-map-marker"></i>&emsp;<%= @placement.address %></p>
              <p><i class="fas fa-pound-sign"></i>&emsp;<%= "#{@placement.hourly_rate} / hour" %></p>
              <div class="calendar">
                <p>&emsp;<i class="fas fa-calendar-check"></i>&emsp;&emsp;<%= @placement.pl_start_date.strftime('%A, %b %d') %></p>
                <p>&emsp;<i class="fas fa-calendar-times"></i>&emsp;&emsp;<%= @placement.pl_end_date.strftime('%A, %b %d') %></p>
              </div>
              <% if current_user == @placement.host_validator %>
                <p><i class="far fa-user-circle placement-user-margin"></i>&emsp;<%= @placement.apprentice.user.full_name %></p>
                <p><i class="far fa-envelope"></i>&emsp;<%= @placement.apprentice.user.email %></p></p>
              <% elsif current_user == @placement.apprentice.user %>
                <p><i class="far fa-user-circle placement-user-margin"></i>&emsp;<%= @placement.host_validator.full_name %></p>
                <p><i class="far fa-envelope"></i>&emsp;<%= @placement.host_validator.email %></p>
              <% else %>
                <p><i class="far fa-user-circle placement-user-margin"></i>&emsp;<%= @placement.apprentice.user.full_name %></p>
                <p><i class="far fa-envelope"></i>&emsp;<%= @placement.apprentice.user.email %></p>
                <p><i class="fas fa-user-circle placement-user-margin"></i>&emsp;<%= @placement.host_validator.full_name %></p>
                <p><i class="fas fa-envelope"></i>&emsp;<%= @placement.host_validator.email %></p>
              <% end %>
              <p><i class="fas fa-walking"></i>&emsp;
                <% if current_user == @placement.apprentice.user %>
                You live
                <% else %>
                <%= @placement.apprentice.user.first_name %> lives
                <% end %>
                 <%= Geocoder::Calculations.distance_between([@placement.apprentice.user.latitude, @placement.apprentice.user.longitude], [@placement.latitude, @placement.longitude]).round(2) %>km away</p>
            </div>
            <div id="map", class="placement-show-content-col2", style="width: 430px; height: 380px;"data-markers="<%= @markers.to_json %>"></div>
          </div>
          <div class="ju">
            <% if @placement.host_validator == current_user || @placement.host_invoice_contact == current_user || @placement.apprentice.user == current_user || @placement.apprentice.agency == current_user %>
              <%= link_to "View Timesheets", apprentice_placement_timesheets_path(@placement.apprentice.id, @placement), :class => "show-placement-btn justify-middle" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
