<div class="navbar-wagon navbar-fixed-top <%= "home-nav" if params[:controller] == "pages" && params[:action] == "home" %>">
  <!-- Logo -->
  <%= link_to "L Y N K", root_path, class: "logo" %>

  <!-- Right Navigation -->
  <% if user_signed_in? %>
  <div class="navbar-wagon-right hidden-xs hidden-sm">


    <!-- Links when logged in -->
      <% unless current_user.first_name == nil%>
        <%= link_to dashboard_path do %>
          <div class="circular_name initial ">
            <%= current_user.company.name[0] %>
          </div>
        <% end %>

      <% else %>
        <%= link_to dashboard_path(current_user.first_name) do %>
          <div class="circular_name initial">
            <i class="fal fa-user-alt"></i>
          </div>
        <% end %>
      <% end %>


    <%= link_to "Dashboard", dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class: "navbar-wagon-item navbar-wagon-link"></i>  <%= t(".sign_out", default: "Log out") %>
    <% end %>
  </div>
    <!-- Dropdown list appearing on mobile only -->

    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li> <%= link_to "Dashboard", dashboard_path %>
          <li> <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </ul>
      </div>
    </div>

  <% else %>
    <!-- Login link (when logged out) -->
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
  <% end %>
</div>

