<div class="wrapper">
  <div class="dashboard-container">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h2>
        <% if Time.now.hour < 12 %>
          Good morning,
        <% elsif Time.now.hour >= 18 && Time.now.hour <= 24 %>
          Good evening,
        <% else %>
          Good afternoon,
        <% end %>
        <%= "#{current_user.first_name}!" %>
      </h2>
      <% if @timesheets == [] %>
    <div class="dashboard-card">
      <h3 class="timesheets-submitted-message">Your attention is no longer needed. Go back to work!&emsp;<i class="far fa-smile"></i></h3>
    </div>
      <% else %>
        <p>Action Items:</p>
        <% @timesheets.each do |timesheet| %>
          <%= link_to apprentice_placement_timesheet_path(timesheet.placement.apprentice, timesheet.placement, timesheet) do %>
            <div class="ag-dash-timesheet-card", id="data-timesheet-<%= timesheet.id %>">

              <div class="val-dash-item">
                <%= render 'timesheets/timesheet_status', timesheet: timesheet %>
              </div>
              <div class="val-dash-item">
                  <p><i class="far fa-user-circle"></i> <%= timesheet.placement.apprentice.user.first_name %> <%= timesheet.placement.apprentice.user.last_name %></p>
              </div>
              <div class="text-left val-dash-item">
                <p><i class="far fa-calendar-alt"></i> <%= timesheet.week_start.strftime('%d %b') %> - <%= (timesheet.week_start + 6).strftime('%d %b') %></p>
              </div>
              <div class="val-dash-item">
                <% hours_worked = 0 %>
                <% timesheet.timesheet_segments.each do |timesheet_segment| %>
                  <% hours_worked += timesheet_segment.hours_worked %>
                <% end %>
                <p><i class="fas fa-stopwatch"></i> <%= hours_worked %></p>
              </div>
              <div class="val-dash-item">
                <p><i class="fas fa-pound-sign"></i> <%= hours_worked * timesheet.placement.hourly_rate %></p>
              </div>
              <div class="val-dash-item">
                <div class="val-dash-btns">
                  <%= render 'timesheets/change_status_button', timesheet: timesheet %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

