<div class="wrapper">
  <div class="dashboard-container">
    <h1>DASHBOARD</h1>

        <%= link_to :back do %>
          <i class="fas fa-arrow-left profile-back", title="back"></i>
        <% end %>
        <h3><%= Time.now >= 12 ? 'Good afternoon, ' : 'Good morning, '%><%= "#{current_user.first_name}!" %></h3>
        <p><%= current_user.role %></p>

    <h3 >Agency Options</h3>
    <div class="row">
        <div class="col-xs-12">
          <div class ="dashboard-card">
            <%= link_to "Timesheets History", timesheets_path, class: 'dashboard-item' %>
          </div>
        </div>
        <div class="col-xs-12">
          <div class ="dashboard-card">
            <%= link_to 'Apprentices History', apprentices_path, class: 'dashboard-item' %>
          </div>
        </div>
        <div class="col-xs-12">
          <div class ="dashboard-card">
              <%= link_to 'Add a placement', new_placement_path, class: 'dashboard-item'  %>
            </div>
          </div>
        </div>
<%#= link_to 'Placements',  %>

    <h3 >Timesheet Options</h3>
    <div class="row">
      <% @timesheets.each do |timesheet| %>
        <div class="col-xs-12">
          <div class ="dashboard-card">
            <p><%= link_to timesheet.week_start,  apprentice_placement_timesheet_path(timesheet.placement.apprentice, timesheet.placement, timesheet) %> - <span class="pending_status"><%= timesheet.status %></span></p>
          </div>
        </div>
       <% end %>
      </div>
  </div>
</div>
