<div class="wrapper">
  <div class="dashboard-container">
    <h1>DASHBOARD</h1>

    <%= link_to :back do %>
      <i class="fas fa-arrow-left profile-back", title="back"></i>
    <% end %>
    <h3><%= Time.now >= 12 ? 'Good afternoon, ' : 'Good morning, '%><%= "#{current_user.first_name}!" %></h3>
    <p class="btn-primary"><%= current_user.role %></p>

  <h3>You have <strong><%= @timesheets.count %></strong> outstanding <%= @timesheets.count > 1 ? 'timesheets' : 'timesheet' %></h3>
    <%# @timesheets.each do |timesheet| %>
      <div class="row">
        <div class="col-xs-12">
          <div class ="dashboard-card">
            <div class="timesheet-title">
              <h3>Timesheet for your placement with <%= @timesheet.placement.host_validator.company_name %> in <%= @timesheet.week_start.strftime("%B") %> <%= @timesheet.week_start.strftime("%Y") %> </h3>
            </div>
            <div class="timesheet_segment_container">
              <% @timesheet.timesheet_segments.sort.each do |timesheetsegment| %>
                <div class="dashboard-timesheetsgement", id="timesheetsegment<%= timesheetsegment.id %>">
                  <%= timesheetsegment.date.strftime('%a, %d %B') %>
                  <%= simple_form_for [@apprentice, @timesheet.placement, @timesheet, timesheetsegment] do |f| %>
                    <%= f.input :type_of_work, collection: @type_of_work %>
                    <input :hours_worked, id="ex6", type="text", data-slider-min="0", data-slider-max="18", data-slider-step="1", data-slider-value="3"/>
                    <span id="ex6CurrentSliderValLabel">Hours worked: <span id="ex6SliderVal">3</span></span>
                    <%= f.button :submit, 'Save', class:"testben" %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="submit-button">
              <%= simple_form_for [@apprentice, @timesheet.placement, @timesheet] do |f| %>
                <%= f.hidden_field :status, value: 'Submitted' %>
                <%= f.submit 'Submit timesheet', class: "btn btn-primary", id: "submit-button", data: { confirm: "Are you sure? Your submission will be final!" }  %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <%# end %>

    <h3 >Current Placement</h3>
      <div class="row">
      <% @apprentice.placements.each do |placement| %>
        <% if (placement.pl_start_date <= Date.today && placement.pl_end_date >= Date.today) %>
          <%= link_to apprentice_placement_path(@apprentice.id, placement.id) do %>
            <div class="col-xs-12">
              <div class ="dashboard-card">
                <p><strong><%= placement.host_validator.company_name %></strong></p>
                <p>Site location: <%= placement.address %></p>
                <p>Start Date: <%= placement.pl_start_date %></p>
                <p>End Date: <%= placement.pl_end_date %></p>
                <p>On site contact: <%= placement.host_validator.first_name %> <%= placement.host_validator.last_name %></p>
                <p>Email: <%= placement.host_validator.email %></p>
              </div>
            </div>
        <% end %>
      <% end %>
    <% end %>
    </div>

      <div class="row">
          <div class="col-xs-12 ">
            <p>Looking for past or future placements?<br>
            <%= link_to "Click Here", apprentice_placements_path(@apprentice) %></p>
          </div>
        </div>

    <h3 >Timesheet Options</h3>
      <div class="row">
        <div class="col-xs-12">
          <div class ="dashboard-card">
            <%= link_to "Fill Timesheets", timesheets_path %>
          </div>
          <div class ="dashboard-card">
            <%= link_to "View or Edit Timesheets", timesheets_path %>
          </div>
        </div>
      </div>

    </div>
</div>
