<div class="wrapper">
  <div class="dashboard-container">

    <h1>DASHBOARD</h1>

      <%= link_to :back do %>
        <i class="fas fa-arrow-left profile-back", title="back"></i>
      <% end %>

    <h2><%= Time.now >= 12 ? 'Good afternoon,' : 'Good morning,' %><%= "#{current_user.first_name}!" %></h2>

    <h3 >Host Options</h3>

      <div class="row">

        <div class="col-xs-12">
          <div class ="dashboard-card">
            <%= link_to "Timesheet History", timesheets_path %>
          </div>
        </div>

        <% @timesheets.each do |timesheet| %>
       <div class="col-xs-12">
          <div class ="dashboard-card">
            <p><%= link_to timesheet.week_start,  apprentice_placement_timesheet_path(timesheet.placement.apprentice, timesheet.placement, timesheet) %> - <span class="pending_status"><%= timesheet.status %></span></p>
            <p><%= timesheet.placement.apprentice.user.first_name %> <%= timesheet.placement.apprentice.user.last_name %></p>
            <p><% timesheet.timesheet_segments.each do |ts| %></p>
                <%= ts.type_of_work %>
                <%= ts.hours_worked %>
              <% end %>
          </div>
       </div>
      <% end %>

          <div class="col-xs-12">
             <div class ="dashboard-card">
              <%= link_to "Apprentices Index", apprentices_path %>
          </div>
        </div>

    </div>
  </div>
</div>

