<div class="wrapper">
  <div class="dashboard-container container">
    <h2>
      <% if Time.now.hour < 12 %>
        Good morning,
      <% elsif Time.now.hour >= 18 && Time.now.hour <= 24 %>
        Good evening,
      <% else %>
        Good afternoon,
      <% end %>
      <%= "#{current_user.first_name}!" %>
    </h2>
    <br>
  <% if @timesheets.length == 0 %>
    <div class="dashboard-card">
      <h3 class="timesheets-submitted-message">All your timesheets have been submitted! <i class="far fa-smile"></i></h3>
    </div>
  <% else %>
    <h3 class="timesheet-counter">You have <strong><%= @timesheets.count %></strong> outstanding <%= @timesheets.count > 1 ? 'timesheets' : 'timesheet' %></h3>
    <div class="row">
      <div class="col-xs-12">
        <div class ="dashboard-card">

            <div class="timesheet-description-new">
              <div class="ag-dash-inside-timesheet-card">
                <h3>Host: <strong><%= @timesheet.placement.host_validator.company_name %></strong></h3>
              </div>
              <div class="ag-dash-inside-timesheet-card">
                <h3> <strong><%= @timesheet.week_start.strftime("%B") %> <%= @timesheet.week_start.strftime("%Y") %></strong> </h3>
              </div>
              <div class="ag-dash-inside-timesheet-card">
                <p> <%= render '../views/timesheets/timesheet_status', timesheet: @timesheet %></p>
              </div>
          </div>
          <div class="timesheet_segment_container">
            <% @timesheet.timesheet_segments.sort.each do |timesheetsegment| %>
              <div class="dashboard-timesheetsgement", id="timesheetsegment<%= timesheetsegment.id %>">
                <%= timesheetsegment.date.strftime('%a, %d %B') %>
                <hr>
                <%= simple_form_for [@apprentice, @timesheet.placement, @timesheet, timesheetsegment], remote: true do |f| %>
                  <%= f.input :type_of_work, collection: @type_of_work, include_blank: false, include_hidden: false %>
                  <%= f.input :hours_worked %>
                  <%= f.button :submit, 'Save', class:"save-segment-btn" %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="submit-button text-center">
            <%= simple_form_for([@apprentice, @timesheet.placement, @timesheet], remote: true) do |f| %>
              <%= f.hidden_field :status, value: 'Submitted' %>
              <%= f.hidden_field :from_dashboard, value: 'true' %>
              <%= f.submit 'Submit timesheet', class: "btn btn-primary", id: "submit-button" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <br>
  <div class="row">
    <div class="ag-dash-placements col-sm-12 col-md-6">
    <h3>Current Placement</h3>
      <div class="row">
      <% @apprentice.placements.each do |placement| %>
      <% @markers = [
            {
              lat: placement.latitude,
              lng: placement.longitude,
              icon: "#{image_path 'marker3.png'}"
              #infoWindow: { content: render_to_string(partial: "/placements/map_box", locals: { placement: @placement }) }
            } ] %>
        <% if (placement.pl_start_date <= Date.today && placement.pl_end_date >= Date.today) %>
          <%= link_to apprentice_placement_path(@apprentice.id, placement.id) do %>
            <div class="col-xs-12">
              <div class ="dashboard-card apprentice-dash text-left">
                <div>
                  <h2><strong><%= placement.host_validator.company_name %></strong></h2>
                  <p><i class="fas fa-map-marker"></i>&emsp; <%= placement.address %></p>
                  <p><i class="far fa-calendar-check"></i>&emsp; <%= placement.pl_start_date.strftime('%a, %d %B %Y') %></p>
                  <p><i class="far fa-calendar-times"></i>&emsp; <%= placement.pl_end_date.strftime('%a, %d %B %Y') %></p>
                  <p><i class="far fa-user-circle"></i>&emsp; <%= placement.host_validator.full_name %></p>
                    <p><i class="fas fa-at"></i>&emsp; <%= placement.host_validator.email %></p>
                    <p><i class="fas fa-walking"></i>&emsp; You live <%= Geocoder::Calculations.distance_between([@apprentice.user.latitude, @apprentice.user.longitude], [placement.latitude, placement.longitude]).round(2) %>km away</p>
                </div>
                <div id="map", class="mini-map", style="width: 260px; height: 230px;"data-markers="<%= @markers.to_json %>"></div>
              </div>
            </div>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
    <div class="ag-dash-placements col-sm-12 col-md-6">
        <div>
          <h3>Placement news</h3>
        </div>
        <% if @placements == [] %>
          <div class="ag-dash-timesheet-card">
            <p>No placement needs your attention.</p>
          </div>
        <% else %>
        <% @placements.sort_by { |p| p["pl_end_date"] }.each do |placement| %>
          <% if placement.pl_start_date >= Date.today && placement.pl_start_date <= Date.today + 14 %>
            <%= link_to apprentice_placements_path(placement.apprentice) do %>
            <div class="ag-dash-timesheet-card">
              <div class="ag-dash-inside-timesheet-card text-left">
                <p><i class="far fa-building"></i> <%= placement.host_validator.company_name %></p>
              </div>
              <div class="ag-dash-inside-timesheet-card text-left">
                <p><i class="far fa-calendar-check"></i> <%= placement.pl_start_date.strftime('%A, %b %d')%></p>
              </div>
              <div class="ag-dash-start-tag text-center
               ">
                Starting soon
              </div>
            </div>
            <% end %>
          <% elsif placement.pl_end_date >= Date.today && placement.pl_end_date <= Date.today + 14 %>
            <%= link_to apprentice_placements_path(placement.apprentice) do %>
              <div class="ag-dash-timesheet-card">
                <div class="ag-dash-inside-timesheet-card text-left">
                  <p><i class="far fa-building"></i> <%= placement.host_validator.company_name %></p>
                </div>
                <div class="ag-dash-inside-timesheet-card text-left">
                  <p><i class="far fa-calendar-times"></i> <%= placement.pl_end_date.strftime('%A, %b %d') %></p>
                </div>

                <div class="ag-dash-end-tag text-center
                 ">
                  Ending soon
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h3>Summary</h3>
      <div class="dashboard-card summary">
        <p>This month...</p>
        <div class="dashboard-card-summary">
          <div class="hours-card text-center">
            <i class="far fa-clock" style="font-size: 60px"></i>
            <br>
            <br>
            <% month_timesheets = [] %>
            <% @placements.each do |p|
              timesheets = p.timesheets
              timesheets.each do |t|
                if t.week_start.month == Date.today.month
                  month_timesheets << t
                end
              end
            end %>
            <% hours_worked_month = [] %>
            <% month_timesheets.each do |t| %>
              <% t.timesheet_segments.each do |ts| %>
                <% hours_worked_month << ts.hours_worked %>
              <% end %>
            <% end %>
            <p>You have worked <%= hours_worked_month.sum %> hours!</p>
          </div>
          <div class="money-card text-center">
            <i class="far fa-money-bill-alt" style="font-size: 60px"></i>
            <br>
            <br>
            <% month_timesheets = [] %>
            <% @placements.each do |p| %>
              <% timesheets = p.timesheets %>
              <% timesheets.each do |t| %>
                <% if t.week_start.month == Date.today.month %>
                  <% month_timesheets << t %>
                <% end %>
              <% end %>
              <% @money_month = [] %>
              <% month_timesheets.each do |t| %>
                <% t.timesheet_segments.each do |ts| %>
                  <% @money_month << ts.hours_worked * p.hourly_rate %>
                <% end %>
              <% end %>
            <% end %>
            <p>You have earned <i class="fas fa-pound-sign"></i> <%= @money_month.sum %> ! </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
