<div class="wrapper">
  <div class="dashboard-container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">

    <h2>
      <% if Time.now.hour < 12 %>
        Good morning,
      <% elsif Time.now.hour >= 18 && Time.now.hour <= 24 %>
        Good evening,
      <% else %>
        Good afternoon,
      <% end %>
      <%= "#{current_user.first_name}!" %>
    </h2>
    <%= link_to :back do %>
      <i class="fas fa-arrow-left profile-back", title="back"></i>
    <% end %>

        <%= link_to "Timesheet History", timesheets_path %>
        <% @timesheets.each do |timesheet| %>
          <div class="ag-dash-timesheet-card", id="data-timesheet-<%= timesheet.id %>">
              <%= render 'timesheets/timesheet_status', timesheet: timesheet %>
            <p><%= link_to timesheet.week_start,  apprentice_placement_timesheet_path(timesheet.placement.apprentice, timesheet.placement, timesheet) %></p>
            <p><%= timesheet.placement.apprentice.user.first_name %> <%= timesheet.placement.apprentice.user.last_name %></p>
            <p><% timesheet.timesheet_segments.each do |ts| %></p>
              <%= ts.type_of_work %>
              <%= ts.hours_worked %>
            <% end %>
            <%= render 'timesheets/change_status_button', timesheet: timesheet %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>

