<h1>Welcome<%= current_user.first_name.nil? ? 'back!' : ", #{current_user.first_name}!" %></h1>
<p><%= current_user.role %></p>

<%= link_to "Timesheets History", timesheets_path %>
<%= link_to "Apprentices History", apprentices_path %>

<% @timesheets.each do |timesheet| %>
  <p class="pending_status"><%= timesheet.week_start %> - <%= timesheet.status %></p>
<% end %>
