<div class="wrapper">
  <div class="dashboard-container">
    <h1>DASHBOARD</h1>
    <h2>
      <% if Time.now < 12 %>
        Good morning,
      <% elsif Time.now >= 18 && Time.now <= 24 %>
        Good evening,
      <% else %>
        Good afternoon,
      <% end %>
      <%= "#{current_user.first_name}!" %>
    </h2>
    <%= link_to :back do %>
      <i class="fas fa-arrow-left profile-back", title="back"></i>
    <% end %>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <%= link_to "Timesheet History", timesheets_path %>
        <% @timesheets.each do |timesheet| %>
          <div id="timesheet_<%= timesheet.id %>">
            <%= render 'timesheets/timesheet_status', timesheet: timesheet %>
          </div>
          <p><%= link_to timesheet.week_start,  apprentice_placement_timesheet_path(timesheet.placement.apprentice, timesheet.placement, timesheet) %>
          <p><%= timesheet.placement.apprentice.user.first_name %> <%= timesheet.placement.apprentice.user.last_name %></p>
          <p><% timesheet.timesheet_segments.each do |ts| %></p>
            <%= ts.type_of_work %>
            <%= ts.hours_worked %>
          <% end %>
          <%= render 'timesheets/change_status_button', timesheet: timesheet %>
        <% end %>
      </div>
    </div>
  </div>
</div>

