<h1>Welcome<%= current_user.first_name.nil? ? 'back!' : ", #{current_user.first_name}!" %></h1>
<p><%= current_user.role %></p>
<%#= link_to 'Timesheets', apprentice_placement_timesheets_path %>
<%= link_to "Current Placements", apprentice_placements_path(@apprentice) %>
<%= link_to "History of Timesheets", timesheets_path %>

<%= link_to "Update timesheet segment", edit_apprentice_placement_timesheet_timesheet_segment_path(current_user.apprentice, Placement.find(7), Timesheet.first, @timesheet) %>
