<h1>Welcome<%= current_user.first_name.nil? ? 'back!' : ", #{current_user.first_name}!" %></h1>
<p><%= current_user.role %></p>

<%= link_to "Timesheets History", timesheets_path %>
<%= link_to "Apprentices History", apprentices_path %>

<% @timesheets.each do |timesheet| %>
  <p><%= link_to timesheet.week_start,  apprentice_placement_timesheet_path(timesheet.placement.apprentice, timesheet.placement, timesheet) %> - <span class="pending_status"><%= timesheet.status %></span></p>
  <p><%= timesheet.placement.apprentice.user.first_name %> <%= timesheet.placement.apprentice.user.last_name %></p>
  <p><% timesheet.timesheet_segments.each do |ts| %></p>
    <%= ts.type_of_work %>
    <%= ts.hours_worked %>
  <% end %>
<% end %>
