<div class="wrapper">
  <div class="dashboard-container">
    <%= link_to :back do %>
      <i class="fas fa-arrow-left profile-back", title="back"></i>
    <% end %>
    <h2>
      <% if Time.now < 12 %>
        Good morning,
      <% elsif Time.now >= 18 && Time.now <= 24 %>
        Good evening,
      <% else %>
        Good afternoon,
      <% end %>
      <%= "#{current_user.first_name}!" %>
    </h2>

  <h3>You have <strong><%= @timesheets.count %></strong> outstanding <%= @timesheets.count > 1 ? 'timesheets' : 'timesheet' %></h3>
    <%# @timesheets.each do |timesheet| %>
      <div class="row">
        <div class="col-xs-12">
          <div class ="dashboard-card">
            <div class="timesheet-title">
              <h3>Timesheet for your placement with <strong><%= @timesheet.placement.host_validator.company_name %></strong> in <strong><%= @timesheet.week_start.strftime("%B") %> <%= @timesheet.week_start.strftime("%Y") %></strong> </h3>
            </div>
            <div class="timesheet_segment_container">
              <% @timesheet.timesheet_segments.sort.each do |timesheetsegment| %>
                <div class="dashboard-timesheetsgement", id="timesheetsegment<%= timesheetsegment.id %>">
                  <%= timesheetsegment.date.strftime('%a, %d %B') %>
                  <hr>
                  <%= simple_form_for [@apprentice, @timesheet.placement, @timesheet, timesheetsegment] do |f| %>
                    <%= f.input :type_of_work, collection: @type_of_work, include_blank: false, include_hidden: false %>
                    <%= f.input :hours_worked %>
                    <%= f.button :submit, 'Save', class:"testben" %>
                  <% end %>
                </div>
              <% end %>
            </div>
            <div class="submit-button">
              <%= simple_form_for [@apprentice, @timesheet.placement, @timesheet] do |f| %>
                <%= f.hidden_field :status, value: 'Submitted' %>
                <%= f.submit 'Submit timesheet', class: "btn btn-primary", id: "submit-button", data: { confirm: "Are you sure? Your submission will be final!" }  %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <%# end %>

    <h3 >Current Placement</h3>
      <div class="row">
      <% @apprentice.placements.each do |placement| %>
        <% if (placement.pl_start_date <= Date.today && placement.pl_end_date >= Date.today) %>
          <%= link_to apprentice_placement_path(@apprentice.id, placement.id) do %>
            <div class="col-xs-12">
              <div class ="dashboard-card text-left">
                <h3><strong><%= placement.host_validator.company_name %></strong></h3>
                <p><i class="fas fa-map-marker"></i> <%= placement.address %></p>
                <p><i class="far fa-calendar-check"></i> <%= placement.pl_start_date.strftime('%a, %d %B %Y') %></p>
                <p><i class="far fa-calendar-times"></i> <%= placement.pl_end_date.strftime('%a, %d %B %Y') %></p>
                <p><i class="far fa-user-circle"></i> <%= placement.host_validator.full_name %></p>
                  <p><i class="fas fa-at"></i> <%= placement.host_validator.email %></p>
              </div>
            </div>
        <% end %>
      <% end %>
    <% end %>
    </div>
    </div>
</div>
