<h1>Welcome<%= current_user.first_name.nil? ? 'back!' : ", #{current_user.first_name}!" %></h1>
<p><%= current_user.role %></p>

<%= link_to "Timesheets History", timesheets_path, class: 'dashboard-item' %>
<%= link_to 'Apprentices History', apprentices_path, class: 'dashboard-item' %>
<%= link_to 'Add a placement', new_placement_path, class: 'dashboard-item'  %>
<%#= link_to 'Placements',  %>
