<% if @timesheet.pending_submission? %>
  <div data-toggle="modal" data-target="#accept">
    <%= simple_form_for [@apprentice, @placement, @timesheet], remote: true do |f| %>
    <%= f.hidden_field :status, value: 'Accepted' %>
    <%= f.submit 'Approve', class: "btn btn-primary", id: "accept-button"%>
    <% end %>
  </div>

  <div data-toggle="modal" data-target="#reject">
    <%= simple_form_for [@apprentice, @placement, @timesheet], remote: true do |f| %>
    <%= f.hidden_field :status, value: 'Rejected' %>
    <%= f.submit 'Reject', class: "btn btn-primary", id: "reject-button" %>
    <% end %>
  </div>
<% end %>
