<div class="main-wrapper container">
  <h2 class="text-center">Placement timesheets</h2>
  <h3 class="text-center"><i class="far fa-building"></i> <%= @placement.host_validator.company_name %> | <i class="far fa-user-circle placement-user-margin"></i> <%= @placement.apprentice.user.full_name %></h3>
  <br>

  <div class="row">
    <div class="col-xs-12">
      <% if @timesheets.first.nil? || @timesheets.class == Class %>
        <div class ="ag-dash-timesheet-card">
          <h3 class="text-center">No timesheets yet!</h3>
        </div>
      <% else %>
        <h3 class="text-center"><strong><%= @timesheets.first.week_start.strftime("%Y") %></strong></h3>
        <% @timesheets.each do |timesheet| %>
          <% month = timesheet.week_start.month %>
          <% timesheet_month = @timesheets[@timesheets.index(timesheet) - 1].week_start %>
          <% year = timesheet.week_start.year %>
          <% timesheet_year = @timesheets[@timesheets.index(timesheet) - 1].week_start %>
            <%# raise %>
          <% unless year == timesheet_year.year %>
            <h2 class="text-center"><strong><%= timesheet.week_start.strftime("%Y") %></strong></h2>
          <% end %>
          <% if month != timesheet_month.month %>
            <h3><%= timesheet.week_start.strftime("%B") %></h3>
          <% end %>
          <%= link_to apprentice_placement_timesheet_path(timesheet.placement.apprentice, timesheet.placement, timesheet) do %>
            <div class="ag-dash-timesheet-card">
              <div class="text-left inside-timesheet-card">
                <p><i class="far fa-calendar-check"></i> <%= timesheet.week_start.strftime('%A, %d') %></p>
              </div>
              <div class="inside-timesheet-card">
                <% hours_worked = 0 %>
                <% timesheet.timesheet_segments.each do |timesheet_segment| %>
                  <% hours_worked += timesheet_segment.hours_worked %>
                <% end %>
                <p><i class="fas fa-stopwatch"></i> <%= hours_worked %>hrs</p>
              </div>
                <div class="inside-timesheet-card">
                  <p class="text-left"><i class="fas fa-pound-sign"></i> <%= hours_worked * @placement.hourly_rate %> / week</p>
                </div>
              <div class="inside-timesheet-card">
                <div class="timesheets-status
                  <%= 'stat-orange' if timesheet.status == 'Pending Submission' %>
                  <%= 'stat-red' if timesheet.status == 'Rejected' %>
                  <%= 'stat-green' if timesheet.status == 'Paid' %>
                  <%= 'stat-green' if timesheet.status == 'Accepted' %>
                  <%= 'stat-yellow' if timesheet.status == 'Submitted' %>
                 ">
                  <%= timesheet.status %>
                </div>
              </div>

            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>

