<h1>Timesheet w/c <%= @timesheet.week_start %></h1>
<%= link_to 'Back', :back %>
<br>
<div id="timesheet">
  <%= render 'timesheet_status', timesheet: @timesheet %>
</div>
  <% @timesheetsegments.each do |timesheetsegment| %>
    <p><%= timesheetsegment.date.strftime('%a, %d %B %Y') %></p>
    <p><%= timesheetsegment.type_of_work %></p>
    <p><%= timesheetsegment.hours_worked %></p>
  <% end %>
  <% if current_user.host_validator? && @placement.host_validator_id == current_user.id %>
    <%= render 'change_status_button' %>

  <% end %>

<%= link_to "Edit timesheet", edit_apprentice_placement_timesheet_path(@apprentice, @placement, @timesheet) %>
